
<div  class="container" style="margin-top:150px; ">   
  <div class="row">
    <div class="col-sm-12">
        <div class="col-sm-3" > </div>
        <div class="col-sm-6" >
            
            <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                <div class="row form-group">
                  <div class="col-sm-4">
                    <label class="required">Current Password</label>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" id="currentPassword" class="form-control" formControlName="currentPassword" (blur)="onBlur($event.target.value)">
                    <div *ngIf="!!currentPassword.touched && !!currentPassword.errors">
                      <div class="alert alert-danger" *ngIf="!!currentPassword.errors.required">
                        Current Password is required
                      </div>
                    </div>
                    <div *ngIf="invalidCurrentPassword">
                      <div class="alert alert-danger">
                        Current Password is Wrong
                      </div>
                    </div>
            
                  </div>
                </div>
            
                <div class="row form-group">
                  <div class="col-sm-4">
                    <label class="required">New Password</label>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" id="newPassword" class="form-control" formControlName="password">
                    <div *ngIf="!!newPassword.touched && !!newPassword.errors">
                      <div class="alert alert-danger" *ngIf="!!newPassword.errors.required">
                       New Password is required
                      </div>
                    </div>
                  </div>
                </div>
          
                 
            
                <div class="col-sm-10 form-group" style="text-align:right; padding-right:5px;">
                    <button class="btn btn-danger" (click)=goBack()><i class="fa fa-close" ></i>&nbsp;Cancel</button>
                  <button class="btn btn-success" type="submit" [disabled]="invalidCurrentPassword || !changePasswordForm.valid">Save Password</button>
                </div>
              </form>
             
        </div>
        <div class="col-sm-3" ></div>
    </div>
  </div>
</div>
